{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ post.text|truncatechars:30 }}
{% endblock %}
{%block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: <b>{{ post.pub_date|date:"d E Y" }}</b>
            </li>
          </ul>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
            {% if post.group %}
            <li class="list-group-item">
              Группа: <b>{{ post.group.title }}</b>
              {% endif %}
              {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
              {% endif %}
            </li>
            <li class="list-group-item">
              Автор: <b>{{ post.author.get_full_name }}</b>
            </li>
            <li>
              <a href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
            </li
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>Всего постов автора: <b>{{ post_count}}</b></span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
             {{ post.text|linebreaksbr }}
          </p>
        </article>
      </div>
{% endblock %}